/* Navigation Background Styling */
#bgNavy{
    background-color: navy;
    }

/* Navigation Title Styling */
.NavTitleStyle{
    color: gold;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
}

/* Navigation Link Styling */
a{
    font-family: 'Barlow', sans-serif;
}

/* Portfolio Background Image */
 .hero{ 
    min-height: 100%; 
    background-image: url(../images/patrick-tomasso-bricks.jpg);
} 

/* Container Background */
.ContBg{
    background-color: gold;
}

/* Index Page Header Styling */
h1{
    color: navy;
    font-size: 64px;
    font-family: 'Barlow', sans-serif;
}

/* Image Presets */
.Headshot{
    float: left;
    max-height: 300px;
    width: 300px;
    max-width: 100%;
}

/* About Me Article Styling */
.Bio{
    font-size: 24px;
    font-family: 'Barlow', sans-serif;
    color: navy
}

/* Contact Form Styling */
.FormTxtStyle{
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    color: navy;
    font-weight: bold;
}

/* Image Sizing */
.ScrShotSize{
    min-height: 100%;
    width: 350px;
    min-width: 100%;
}

/* Text Box Sizing */
.MessageBox{
    height: 100px !important
}

/* Footer Styling */
footer{
    background-color: navy;
    color:gold;
    text-align: center;
}
